.quadro{
    background-color: ;
    height: 400px;
    width: 100%
}
.filho1{
    height: 100px;
    width: 100%;
}
h1{
    color: #dd0707;
    text-align: center
    
}


body{
    background-color: pink;
}
